<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  
  <div class='store-btn'>
    
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='cafelog-details'>
      <h2 class='footer-content-head'>CAFE LOGについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'CAFE LOG利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='cafelog-details'>
      <h2 class='footer-content-head'>CAFE LOGについて</h2>
      <ul>
        <li><%= link_to 'CAFE LOGガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© CAFE LOG</p>
</div>