<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('cafelog-logo.png' , class: "items-sell-header-logo", size: '185x80'), "/" %>
  </header>
  <div class="items-sell-header-image">
    <%= image_tag "cafelog-edit-top.png", class: "items-sell-header-image" %>
  </div>
  <div class="items-sell-main">
    <h2 class="items-sell-title">
      入力項目
    </h2>
    <%= form_with model: @memo, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 商品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
      </div>
      <div class="click-upload">
        <p>
          画像をアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /商品画像 %>

    <%# メモの内容 %>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"タイトル（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          日付
        </div>
        <%= f.date_field :date, class:"form-control" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          感想
        </div>
        <%= f.text_area :impression, class:"items-text", id:"item-info", placeholder:"コーヒーの感想（1,000文字まで）（味、香り、飲み方など）例）コーヒーショップで購入したブレンドコーヒーです。ほんのりナッツの香りがします。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /メモの内容 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <div class="submit">
        <%= f.submit "変更する" ,class:"sell-btn" %>
      </div>
      <div class="back">
        <%=link_to 'もどる', memo_path(@memo.id), class:"back-btn" %>
      </div>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <%# link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎CAFE LOG
    </p>
  </footer>
</div>