<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部 %>
  <div class='title-contents'>
    <%= link_to image_tag("cafelog.png", class:"main-pict"), "#" %>
  </div>
  <%# /画面上部 %>

  <%# CAFE LOGの使い方 %>
  <div class='feature-contents'>
    <h2 class='title'>
      CAFE LOGの使い方
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "cafelog-post.png", class:"list-pict" %>
        <p class='feature-list-description'>
          飲んだコーヒーの感想を<br>
          投稿しよう
        </p>
      </li>
      <li class='list'>
        <%= image_tag "cafelog-comment.png", class:"list-pict" %>
        <p class='feature-list-description'>
          投稿者と交流しよう
        </p>
      </li>
      <li class='list'>
        <%= image_tag "cafelog-info.png", class:"list-pict" %>
        <p class='feature-list-description'>
          コーヒー情報を活用しよう
        </p>
      </li>
    </ul>
  </div>
  <%# /CAFE LOGの使い方 %>

<%# コーヒー情報一覧 %>
  <div class='item-contents'>
    <h2 class='title'>Topics</h2>
    
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "cafelog-brand", class: "item-img" %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "タイトル" %>
          </h3>
          <div class='item-price'>
            <span><%= "ジャンル" %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
          <div class='item-price'>
            <span><%= "日付" %></span>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "cafelog-info-sample", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            コーヒーを選ぶときの<br>
            参考にしよう
          </h3>
           <div class='item-price'>
            <span><%= "ジャンル" %></span>
          </div>
          <div class='item-price'>
            <span><%= "日付" %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /コーヒー情報一覧 %>

  <%# コーヒーメモ一覧 %>
  <div class='item-contents'>
    <h2 class='title'>Time Line</h2>
   
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <% @memos.each do |memo| %>
        <li class='list'>
          <%= link_to memo_path(memo.id) do %>
            <div class='item-img-content'>
              <%= image_tag memo.image, class: 'item-img' if memo.image.attached? %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= memo.title %>
              </h3>
              <div class='item-price'>
                <span><%= memo.date %></span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <% if @memos.empty? %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              コーヒーメモを投稿しよう
            </h3>
            <div class='item-price'>
              <span>2023年1月1日</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /コーヒーメモ一覧 %>
</div>
<%= link_to(new_memo_path, class: 'purchase-btn') do %>
  <%= image_tag 'cafelog-post-btn.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>